<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Appcenter-config.plist
   AwesomeProject

   Created by Mohammed Mubarak on 31/12/22.
Copyright (c) 2022 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
	<dict>
		<key>AppSecret</key>
		<string>e7ef589a-fbad-4fde-9545-180210c4d80a</string>
	</dict>
</plist>